body { 
  width: 100%;
  height: auto;
  margin: 0;
  font-family: Raleway, sans-serif;
  font-weight: 300;
  background-color: #ecf1f1;
}

.hero{
  display: block;
  width: 100%;
  height: 30%;
  background: url(https://static.wixstatic.com/media/8c7b2b_9f3a5de57e8d4cae97eb7c844e25bb21~mv2_d_7004_3937_s_4_2.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

main{
  width: 85%;
  height: 100%;
  display: block;
  margin: 0 auto;
}

.artigo {
  display: block;
  padding: 20px;
  text-align: center;
}

.artigo .titulo {
  color: #fc6a02;
  text-align: left;
}

.artigo .conteudo {
  text-align: left;
}

.artigo .foto {
  width: 35%;
  mix-blend-mode: multiply;
  

}